/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Roboto", cursive;
    --primary-color: #0165A2; /* dark brown */
    --secondary-color: #fcfcfc; /* light brown*/
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 50px; /* Pushes the top of the header under fixed navbar */
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color); 
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.hero-logo {
    width: 70%;
    height: auto;
    filter: drop-shadow(rgb(255, 255, 255) 5px 0 50px);
    margin-left: 20px;
}

#header-text h1 {
    font-weight: bold;
}

.sub-heading-color {
    color: var(--primary-color);
}

.section{
    padding-top: 4rem; /* Prevent navbar overlap */
}

/* Buttons */
.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color);
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white;
}


/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 170px;
    height: auto;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    max-height: 70vh;
    display: flex;
    align-items: center;
}

/* Dark overlay for readability */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(252, 252, 252, 0.45); /* Using the secondary color with transparency */
}

/* Keep content above overlay */
.hero .container {
    position: relative;
    z-index: 1;
}

/* Text styling */
#header-text {
    color: var(--secondary-color);
    text-shadow: black 1px 0 5px;;
}

#header-text h1,
#header-text h2 {
    color: var(--secondary-color);
}


/* Services */
#services h2 {
    font-weight: 500;
    color: var(--highlight-color);
}

#services .card-footer {
    font-weight: bold;
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

.card {
    background-color: var(--secondary-color);
}

/* Footer / contact */
#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}
#contact h2 {
    color: white;
    font-weight: 500;
}
#contact .sub-heading-color {
    color: var(--secondary-color);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}

#contact .table-dark * {
    background-color: transparent;
}

.phone-link {
    color: var(--secondary-color);
}

.phone-link:hover {
    color: var(--highlight-color-light);
}

.footer-badge {
    height: auto;
    width: 300px;
}

.footer-bottom {
    padding: 5px 5px;
    font-size: 0.9rem;
}

/* Media queries */

/* Small screens and up */
@media screen and (min-width: 567px) {
    /* Increase font size in events table when screen size is large enough */
    #events .table {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

/* Large devices (small laptops, 992px and up */
@media screen and (min-width: 992px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

/* Extra large devices (tablets, 1200px and up */
@media screen and (min-width: 1200px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/* Extra extra large devices (small laptops, 1400px and up */
@media screen and (min-width: 1400px) {
    /* Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195px;
    }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
    .hero-logo {
        width: 50%;
    }
}

/* XL and up */
@media (min-width: 1200px) {
    .hero-logo {
        width: 70%;
    }
}